body{
    margin: 0;
    padding: 0;
    background: url(../images/reg_background.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.loginform{
    width: 350px;
    height:600px;
    background: transparent;
    color: #000;
    top:50%;
    left: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
}



h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22x;
    color: #fff;
}

.loginform p{
    margin: 0;
    padding: 0;
    font-weight:bold ;
    color:#fff;
}

.loginform input{
   width: 100%;
   margin-bottom: 18px;
}

.loginform input[type="text"],input[type="password"],input[type="email"],input[type="file"]{
    border: none;
    border-bottom: 1px solid  #000;
    background: transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
}

.loginform input[type="submit"]{
    border: none;
    outline: none;
    height: 35px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}

::placeholder { 
    color:lightblue ;
    
  }
.loginform input[type="submit"]:hover{

    cursor: pointer;
    background: #29ecf3;
    color: #000;
}

.loginform a{
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    color:#fff ;
}

.loginform a:hover{
    color:#07f7ff ;
}