

{% extends 'header.html' %}

{% load static %}
{% block title %}Add Service{% endblock %}
{% block css %}

<link rel="stylesheet" type="text/css" href="{%static 'css/add_post.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'css/navbar.css'%}">
{% endblock %}
{% block body %}
{% include 'main/navbar.html'%}
<div class="loginform">

    <h1>Add Service</h1>
    <form action=""method="POST" class="form" enctype="multipart/form-data"
        enctype="application/x-www-form-urlencoded">
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" id="serprdId" name="serprdId" value="user.serviceprovider.name">
      {% if form.non_field_errors %}
    <div style="color: red">
      <p>{{login_form.non_field_errors}}</p>
    </div>
      
  {% endif %}
        <input type="submit" name="" value="Add"><br>
    </form>
</div>
{% endblock %}